
* {
    margin: 0px;
    box-sizing: border-box;
}

.background {
    background-image: url("../images/background.png");
    width: 1024px;
    height: 600px;
    padding: 20px 0px 0px 20px;
}

.outerbox {
    background-image: url("../images/outerbox.png");
    width: 808px;
    height: 544px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    padding: 32px 0px 0px 32px;
}

/* 왼쪽 영역 */
.wrapper__left {
    width: 208px;
    height: 472px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
}

/* 왼쪽 영역 - 헤더(투데이 카운터) */
.wrapper__left__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:115px;
    height: 30px;

}


.today {
    padding-top: 7px;
    font-size: 8px;
}


.total {
    padding-top:7px;
    font-size: 8px;
}

.number {
    font-size:11px;
    margin-left: 2px;
}

.line {
    margin-top: 10px;
    height:9px;
    width:1px;
    border:1px solid #55B2E4;
}



.count {
    font-size: 11px;
}

/* 왼쪽 영역 - 바디(프로필) */
.wrapper__left__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 30px 0px 30px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: white;
}

.left__body__header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.left__body__header__gray {
    width: 148px;
    height: 133px;
    background-color: gray;
}

.left__body__header__line {
    border-top: 1px dotted black;
    margin: 12px 0px;
}

.left__body__profile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile__detail {
    color: #999999;
    font-size: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.fas {
    color: black;
    margin-right: 12px;
    margin-top: 5px;
    width: 5px;
    height: 5px;
}

.body__footer {
    width: 100%;
    margin-bottom: 30px;
}

.wrapper__feel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}



.wrapper__left__header {
    font-size:12px;
    color:#55B2E4;
}

/* 인쪽 */


/* 오른쪽 영역 */
.wrapper__right {
    width:524px;
    height: 472px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left:5px;
}


.wrapper__right__header {
    width:510px;
    height:10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 9px;
    align-items: center;

}

    

.right__header__title, .right__header__setting {
   color:#55B2E4;
   font-size:12px;
}
.right__header__title {
    margin-left: 40px;
    font-weight: bold;
}
.right__header__setting{
    font-size:8px;
    font-weight: 200;
}
.right__header__setting > .fas {
    color:#55B2E4;
}

.wrapper__right__body {
    width:510px;
    height: 445px;
    border:1px solid gray;
    border-radius: 15px;
    background-color:white;


    /* wrapper에게 주는 것이 padding 좋다.
     iframe에 따라 각각 컨텐츠마다 설정이 자유롭지 못하다.

    */
}

.right__header_routing {
  
    width:62px;
    display:flex;
    flex-direction: column;
 
}
.routing_title {
    width:60px;
    height:30px;
    margin-top: 10px;
    border-radius: 0px 5px 5px 0px;
    box-sizing:border-box;
    text-align: center;
    color:#fff;
    font-size:12px;
    background:#298EB5;


}
.wrapper__right__body {

}

.wrapper__right_body_menu {
  
    width:62px;
    top:96px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.wrapper_right_body_menu_item {
    margin-bottom: 15px;
    padding: 0 15px;
    height:35px;
    box-sizing: border-box;
    background:#298EB5;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    font-size:12px;
    line-height: 30px;

}

iframe {
    width: 100%;
    height: 100%;

    border:none;
}
/* 
.wrapper__right_menu {
    width:62px;
    margin-top: 50px;
    font-size:12px;
    padding-bottom: 10px;
    align-items: center;
    color:#fff;
    display:flex;
    flex-direction: column;

}

.wrapper_right_box {
     width:60px;
     height:38px;
    padding-bottom: 10px;
    background:#298EB5;
    margin-bottom: 10px;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    align-items: center;
    padding:10px 5px;
    border:1px solid #0F465E;

} */

.navigation {
    width: 62px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:absolute;
    right: 0px;
    top:110px;
    left: 774px;
}

.navigation__item {
    width:60px;
    height: 30px;
    background-color: #298EB5;
    border:1px solid black;
    color:#fff;
    font-size:10px;
    text-align: center;
    border-radius:0px 10px 10px 0px;  
    line-height: 25px;

    cursor:pointer;
}