* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html ,body {
    width:100%;
    height: 100%;
}

.wrapper {
    width:100%;
    height: 100%;
    padding:20px 20px 30px 20px;
}

.wrapper__header {
   width:464px;
   height:120px;
   display:flex;
   flex-direction: column;
}

.wrapper__header > .wrapper_header_title {
  display:flex;
  border-bottom: 1px solid #999999;
  padding-bottom:7px;
  align-items: center;

}
.wrapper__header > .wrapper_header_title > h1 {
    font-size:13px;
    color: #55B2D4;
    font-weight: 700;
    margin-right: 7px;
}
.wrapper__header > .wrapper_header_title > p {
    font-size:7px;
    font-style:normal;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 7px;

}
.wrapper_header_subtitle {
    margin-top: 7px;
    font-size:9px;
    color:#999999;

   
}

.wrapper_video_main_title {
    display:flex;
    margin-bottom: 8px;
    align-items: center;

}

.wrapper_video_title {
    display:flex;
    margin-right: 8px;
    font-size:13px;
     color: #55B2D4;
     font-weight: 700;

}
.wrapper_video_sub_title {
      font-size:8px;
      font-style: normal;
      letter-spacing:0.5px;
      text-align: justify;
      font-weight: normal;
}

.wrapper_video {
    width:464px;
    height:280px;
}