


.wrapper {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.menu {
  cursor: pointer;
  padding: 10px;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}


.menu.active {
  background-color: #CCC;
}

.menu:hover {
  background-color: #AAA;
}

.menu-content {
  margin-left: 20px;
  margin-right: 20px;
}